@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row">
    <div class="col-md-6">
        <h1 class="display-6">Privacy Policy</h1>
        <p class="lead">Original luo music puts your security and privacy at the center of everything. Check out our privacy policy</p>
    </div>
</div>